/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../src/stylesheets/main.scss */
.container {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
/* line 10, ../../src/stylesheets/main.scss */
.container > div {
  max-width: 100%;
  height: 100vh;
}
/* line 15, ../../src/stylesheets/main.scss */
.container .main-section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 12.0em;
  padding-left: 0.2em;
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0, rgba(0, 0, 255, 0.2) 2px 2px 0, rgba(0, 0, 255, 0.2) 3px 3px 0;
}
/* line 22, ../../src/stylesheets/main.scss */
.container .main-section p {
  color: #888;
  font-size: 3.0em;
  position: absolute;
  padding-left: 1em;
}
/* line 29, ../../src/stylesheets/main.scss */
.container .main-section::after {
  content: "";
  opacity: 0.5;
  background: url(http://2.bp.blogspot.com/-oK2u69MZOEw/UuJZHCoxjvI/AAAAAAAARIk/ukVnOp8lU68/s1600/JavaScript-logo.png) no-repeat;
  background-size: cover;
  background-position: 0 90%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* line 44, ../../src/stylesheets/main.scss */
.container .intro-section {
  background: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/p960x960/10257164_10152725119659838_336180642126829356_o.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 50, ../../src/stylesheets/main.scss */
.ribbon {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000;
  width: 100%;
  position: relative;
  opacity: 0.3;
  top: 70%;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
/* line 61, ../../src/stylesheets/main.scss */
.ribbon p {
  font-size: 5em;
}
